# %% [markdown]

 # Can we predict Musk ?

# %% [markdown]

 ## What is musk ?
 [**Musk**](https://en.wikipedia.org/wiki/Musk) is a common ingredient used as a base note in
 lots of perfumes.

 It was originally obtained from a gland of musk deer.

 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Naturalists_Library_-_Mammalia_-_Volume_III_-_The_Thibetian_Musk.jpg/500px-Naturalists_Library_-_Mammalia_-_Volume_III_-_The_Thibetian_Musk.jpg" alt="musk deer" width="400"/>

 Since obtaining the deer
 musk requires killing the endangered animal, nearly all musk fragrance used in perfumery today
 is synthetic, sometimes called [*white musk*](https://en.wikipedia.org/wiki/Synthetic_musk).

 Synthetic musks are a class of synthetic aroma compounds to emulate the scent of deer musk.

 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Musk_xylene.svg/500px-Musk_xylene.svg.png" alt="musk xylene" width="300"/>

# %% [markdown]

 ## Task description

 The goal is to learn to predict whether new molecules will be musks or non-musks.

 This dataset describes a set of **102 molecules** of which 39 are judged by human experts to be musks
 and the remaining 63 molecules are judged to be non-musks. The goal is to learn to predict
 whether new molecules will be musks or non-musks. Each molecule is described by a set of **166 features**.

 However, the 166 features that describe these molecules depend upon the exact shape,
 or conformation, of the molecule.  Because bonds can rotate, a single molecule can adopt
 many different shapes.  To generate this data set, all the low-energy conformations of the
 molecules were generated to produce **6,598 conformations**.  Then, a feature vector was extracted
 that describes each conformation.

 ### Ids

 `molecule-name` Symbolic name of each molecule.  Musks have names such as MUSK-188.
 Non-musks have names such as NON-MUSK-jp13.

 `conformation_name` - Symbolic name of each conformation.  These have the format MOL_ISO+CONF,
 where MOL is the molecule number, ISO is the stereoisomer number (usually 1), and CONF is the
 conformation number.

 ### Features

 `f1` through `f162`: These are *distance features* along rays.

 The distances are measured in hundredths of Angstroms.  The distances may be negative or positive,
 since they are actually measured relative to an origin placed along each ray.  The origin was
 defined by a "consensus musk" surface that is no longer used.
 Hence, any experiments with the data should treat these feature values as lying on an
 arbitrary continuous scale.  In particular, the algorithm should not make any use of the
 zero point or the sign of each feature value.

 `f163` This is the distance of the oxygen atom in the molecule to a designated point in 3-space.
  This is also called OXY-DIS.
 `f164` OXY-X: X-displacement from the designated point.
 `f165` OXY-Y: Y-displacement from the designated point.
 `f166` OXY-Z: Z-displacement from the designated point.

 [dataset](https://archive.ics.uci.edu/dataset/75/musk+version+2)

In [ ]:
# %%

# ! pip install ucimlrepo

from ucimlrepo import fetch_ucirepo

# Fetch dataset.
dataset = fetch_ucirepo(id=75)

# Data (as pandas dataframes).
X = dataset.data.features
y = dataset.data.targets
ids = dataset.data.ids

display(ids)
display(y)
display(X)

      molecule_name conformation_name
0          MUSK-211           211_1+1
1          MUSK-211          211_1+10
2          MUSK-211          211_1+11
3          MUSK-211          211_1+12
4          MUSK-211          211_1+13
...             ...               ...
6593  NON-MUSK-jp13          jp13_2+5
6594  NON-MUSK-jp13          jp13_2+6
6595  NON-MUSK-jp13          jp13_2+7
6596  NON-MUSK-jp13          jp13_2+8
6597  NON-MUSK-jp13          jp13_2+9

[6598 rows x 2 columns]

      class
0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
...     ...
6593    0.0
6594    0.0
6595    0.0
6596    0.0
6597    0.0

[6598 rows x 1 columns]

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f157,f158,f159,f160,f161,f162,f163,f164,f165,f166
0,46,-108,-60,-69,-117,49,38,-161,-8,5,...,-244,-308,52,-7,39,126,156,-50,-112,96
1,41,-188,-145,22,-117,-6,57,-171,-39,-100,...,-235,-59,-2,52,103,136,169,-61,-136,79
2,46,-194,-145,28,-117,73,57,-168,-39,-22,...,-238,-134,-154,57,143,142,165,-67,-145,39
3,41,-188,-145,22,-117,-7,57,-170,-39,-99,...,-236,-60,-4,52,104,136,168,-60,-135,80
4,41,-188,-145,22,-117,-7,57,-170,-39,-99,...,-236,-60,-4,52,104,137,168,-60,-135,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6593,51,-123,-23,-108,-117,134,-160,82,-230,-28,...,62,-66,164,-14,-29,107,171,-44,-115,118
6594,44,-104,-19,-105,-117,142,-165,68,-225,-32,...,60,-51,166,-9,150,129,158,-66,-144,-5
6595,44,-102,-19,-104,-117,72,-165,65,-219,-12,...,-226,90,117,-8,150,130,159,-66,-144,-6
6596,51,-121,-23,-106,-117,63,-161,79,-224,-30,...,-238,86,99,-14,-31,106,171,-44,-116,117
6597,51,-122,-23,-106,-117,190,-161,80,-227,-52,...,95,40,124,-14,-30,107,171,-44,-115,118